body {
  background-color: #161616;
  color: #ddd;
  padding: 50px;
}

h1 {
  color: #eef;
  text-align: center;
}


.header-currency {
  /* display: flex; */
  /* justify-content: center; */
  text-align: center;
}